.cards{
    border: 1px solid lightgray;
    border-radius: 15px;
    text-align: start;
    padding: 10px; 
    overflow: hidden;
}

.service{
    transition: transform 1.9s;

}
.service:hover{
    transform: scale(1.02); 
    background-color: white;
    box-shadow: 2px 1px 16px 3px rgba(0,0,0,0.34);

}